@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "gilroy-extraBold";
  src: url("/fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "gilroy-bold";
  src: url("/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "gilroy-semibold";
  src: url("/fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "gilroy-medium";
  src: url("/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "gilroy-regular";
  src: url("/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "gilroy-light";
  src: url("/fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@layer base {
  body {
    @apply m-0 p-0 outline-none list-none box-border bg-darkGreen font-regular;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4;
  }

  .center-mode {
    @apply flex items-center justify-center;
  }

  .border-radius-sm {
    @apply rounded-tl-[22.5px] rounded-br-[22.5px] rounded-tr-[5px] rounded-bl-[5px];
  }

  .border-radius-lg {
    @apply rounded-tl-[35px] rounded-br-[35px] rounded-tr-[5px] rounded-bl-[5px];
  }
}

@media screen and (min-width: 1024px) {
  .custom-background {
    background-position: center center;
  }
}

@media screen and (max-width: 1024px) {
  .custom-background {
    background-position: calc(50% - 250px) center;
  }
}

.negative-card {
  width: calc(50% - 40px);
}

@media screen and (max-width: 1024px) {
  .negative-card {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .negative-card {
    width: 100%;
  }
}

.negative-card:last-child {
  background: linear-gradient(94.81deg, #6a35ff -13.38%, #9772fe 101.22%);
  border: 3px solid #ffffff;
}
